*.class
*.log
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea
.g8
*.iml

# Scala-IDE specific
.scala_dependencies
.worksheet
build
.gradle
gradlew.bat
.idea_modules
